

		<tr>
			<p>
  			<b>Commenter:</b>
  			<%= User.find(comment.user_id).email %>
			</p>
			<td><%= comment.commenter %></td>
			<td><%= comment.body %></td>
			<%# <%= @post.comments.inspect %> %>
			<td><button class="image_button" type="button" name="button">
				<%= link_to image_tag("delete.svg"), [comment.post, comment],
										:confirm => 'Удалить?',
										:method => :delete %>
					</button></td>
		</tr>
		<% if user_signed_in? && current_user.id == comment.user_id  %>
<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
<% end %>
