<%= form_for([@post, @post.comments.build]) do |f| %>
	<div class="field">
		<%= f.label :commenter, "Автор" %>
		<%= f.text_field :commenter %>
	</div>
	<div class="field">
		<%= f.label :body, "Комментарий" %>
		<%= f.text_area :body %>
	</div>
		<div class="actions">
		<%= f.submit "Отправить" %>
	</div>
<% end %>
