<%= form_for([@post, @post.comments.build]) do |f| %>
	<div class="field">
		<%= f.text_field :commenter, placeholder: "имя" %>
	</div>
	<div class="field">
		<%= f.text_area :body, placeholder: "комментарий" %>
	</div>
	<div class="field">
    <%= current_user.email %>
	</div>
		<div class="actions">
			<button type="button" name="button">
	        <%= link_to 'отправить', "#", onclick: "this.closest('form').submit();return false" %>
	    </button>
	</div>
<% end %>
