<%= stylesheet_link_tag "posts" %>
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
    <td><%= form.label :author, "автор" %></td>
    <td><%= form.text_field :author %></td>
  </tr>
  <tr>
    <td> <%= form.label :category_id %></td>
    <td> <%= form.select :category_id, Category.pluck(:name, :id) %></td>
  </tr>
  <tr>
    <td><%= form.label :title, "заголовок" %></td>
    <td><%= form.text_field :title %></td>
  </tr>
  <tr>
    <td><%= form.label :content, "контент" %></td>
    <td><%= form.text_area :content %></td>
  </tr>
  <tr>
    <td><%= form.label :image, "добавить изображение" %></td>
    <td><button type="button" name="button"><%= form.file_field :image %></button></td>
  </tr>
</table>


  <div class="actions">
    <button type="button" name="button">
        <%= link_to 'сохранить', "#", onclick: "this.closest('form').submit();return false" %>
    </button>
    <button type="button" name="button">
      <%= link_to 'Назад', posts_path %>
    </button>
    
  </div>
<% end %>
