<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :author, "автор" %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :tag, "тема" %>
    <%= form.select :tag, ['ЧП', 'Порт', 'Новость'] %>
  </div>

  <div class="field">
    <%= form.label :title, "заголовок" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, "контент" %>
    <%= form.text_area :content %>
  </div>

  <div>
	   <%= form.label :image, "добавить изображение" %>
	    <button type="button" name="button"><%= form.file_field :image %></button>
  </div>

  <div class="actions">
    <button type="button" name="button">
        <%= link_to 'сохранить', "#", onclick: "this.closest('form').submit();return false" %>
    </button>
  </div>
<% end %>
