<%= stylesheet_link_tag "posts" %>
<div class="conteiner">
<h1>Запись</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <td><strong>Автор:</strong></td>
    <td>  <%= @post.author %></td>
  </tr>
  <tr>
    <td><strong>Тема:</strong></td>
    <td>  <%= @post.tag %></td>
  </tr>
  <tr>
    <td>  <strong>Заголовок:</strong></td>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <td><strong>Контент:</strong></td>
    <td>  <%= @post.content %></td>
    <td><%= image_tag(@post.image.url, alt: 'ImageForPosts', class:"image_for_post") if @post.image? %></td>
  </tr>
</table>




<h2>Комментарии:</h2>


<%= render "comments/form" %>
<table>
  <tr>
    <th><b>Автор:</b></th>
    <th><b>Комментарий:</b></th>

  </tr>
  <%= render @post.comments %>

  </table>


<button type="button" name="button"><%= link_to 'Редактировать', edit_post_path(@post) %></button>
<button type="button" name="button"><%= link_to 'Назад', posts_path %></button>

</div>
